* {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

body {
    background-color: beige;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    background-color: coral;
    margin: 16px;
    padding: 10px;
}

.description {
    margin:16px;
    padding: 10px;
}

.ingredients {
    border: 2px solid red;
    margin:16px;
    padding: 10px;
}

.instructions {
    border: 2px solid red;
    margin:16px;
    padding: 10px;
}

.pie {
    margin:16px;
}

a:link {
    color: hotpink;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: gray;
}

